<div class="flex flex-cols items-centered justify-center">
<div class="p-4 mt-[80px] w-[400px] mb-[320px] !overflow:hidden">
  <h2 class="text-2xl font-bold mb-4">Your current booking</h2>

  <div *ngFor="let booking of bookings" class="border p-4 rounded mb-4 shadow">
    
    <form *ngIf="editingId !== booking.id" [formGroup]="editForms[booking.id]">
      <p class="mb-2"><strong>Hotel Name:</strong> {{ booking.hotel.name}}</p>
      <p class="mb-2">Hotel Id {{booking.hotel.id}}</p>
      <p class="mb-2">Hotel location {{booking.hotel.location}}</p>

      <p class="mb-2"><strong>Check-in:</strong> {{ booking.check_in }}</p>
      <p class="mb-2"><strong>Check-out:</strong> {{ booking.check_out }}</p>

      <button class="bg-blue-500 text-white px-3 py-1 rounded mr-2" (click)="enableEdit(booking.id)">Edit</button>
      <button class="bg-red-500 text-white px-3 py-1 rounded" (click)="cancelBooking(booking.id)">Cancel Booking</button>
    </form>

    <form *ngIf="editingId === booking.id" [formGroup]="editForms[booking.id]">
      <label class="block mb-1">Check-in:</label>
      <input type="date" formControlName="check_in" class="border p-1 rounded w-full mb-2" />

      <label class="block mb-1">Check-out:</label>
      <input type="date" formControlName="check_out" class="border p-1 rounded w-full mb-2" />

      <button class="bg-green-500 text-white px-3 py-1 rounded mr-2" (click)="updateBooking(booking.id)">Save</button>
      <button class="bg-gray-300 px-3 py-1 rounded" (click)="editingId = null">Cancel</button>
    </form>

  </div>
</div></div>