<section class="bg-white mt-[90px]">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl font-extrabold text-center text-gray-900 ">Contact Us
        </h2>
        <p class="mb-8 lg:mb-16 font-light text-center text-gray-500">Got a technical
            issue? Want to send feedback about our service? Need details on how to join us?Let us know.</p>
        <form [formGroup]="contactUs" (ngSubmit)="onClick()">
            <div>

                <label class="!block !mb-2 text-sm !font-medium !text-gray-900 ">Your email</label>
                <input type="email" id="email" formControlName="email"
                    class="!shadow-sm !bg-gray-50 !border !border-gray-300 !text-gray-900 text-sm 
                    rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
                    placeholder="name@gmail.com">
                <div
                    *ngIf="contactUs.get('email')?.invalid && (contactUs.get('email')?.dirty || contactUs.get('Subject')?.touched)">
                    <div *ngIf="contactUs.get('email')?.hasError('required')">Please enter email</div>
                    <div *ngIf="contactUs.get('email')?.hasError('email')">PLease enter valid email</div>
                </div>

            </div>
            <div>
                <label class="block mb-2 !text-sm !font-medium !text-gray-900 ">Subject</label>
                <input type="text" id="subject" formControlName="Subject"
                    class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500"
                    placeholder="Let us know how we can help you">
                <div
                    *ngIf="contactUs.get('Subject')?.invalid && (contactUs.get('Subject')?.dirty || contactUs.get('Subject')?.touched)">

                    <div *ngIf="contactUs.get('Subject')?.hasError('required')">Please enter subject</div>
                </div>

            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block !mb-2 text-sm font-medium text-gray-900 ">Your
                    message</label>
                <textarea id="message" rows="6" formControlName="text"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 "
                    placeholder="Leave a comment..."></textarea>
                <div
                    *ngIf="contactUs.get('text')?.invalid && (contactUs.get('text')?.dirty || contactUs.get('text')?.touched)">
                    <div *ngIf="contactUs.get('text')?.hasError('required')">Please enter a message</div>
                </div>
            </div>
            <button type="submit"
                class="!text-white mt-4 !bg-blue-700 !hover:bg-blue-800 !focus:ring-4 !focus:ring-blue-300 !font-medium !rounded-lg !text-sm px-5 py-2.5 me-2 mb-2 ">Submit</button>
        </form>

    </div>
</section>