<section class="bg-white ">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg ">
            <h2 class="mb-4 !text-4xl !tracking-tight !font-extrabold !text-gray-900 ">About Us</h2>
            <p class="mb-4">At Booksmart Online Hotel Booking Group we strive to be the first choice in the mind of guests, owners and talent. In our journey to achieve this, we practice strong beliefs and actions that respect the diversity of people, the community, ethics and the planet.</p>
            <p>To us, true luxury is a meaningful sense of belonging. It is a dedicated focus on how people want to be treated,
                 grounded in the genuine care you experience during your stay and defined by an abundance of humanity and generosity. 
                 This starts with our passionate team, welcoming you to be the centre of our world,
                  anywhere in the world – and always with a distinctly human touch.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="about photo 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="about photo 2">
        </div>
    </div>
</section>